@import https://fonts.googleapis.com/css?family=Roboto Mono

    
.wrapper
    font-family: 'Roboto Mono'
    min-height: 100vh
    background: black
    color: beige
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden
    font-size: 1.5em
.gridWrapper
    position: absolute
    top:0
    left: 0
    right: 0
    bottom: 0
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 1fr
.cell
    padding-left: 0.5em
.topLeft
    border-right: 2px solid beige
    border-bottom: 2px solid beige
.topRight
    border-left: 2px solid beige
    border-bottom: 2px solid beige
.bottomLeft
    border-right: 2px solid beige
    border-top: 2px solid beige
.bottomRight
    border-left: 2px solid beige
    border-top: 2px solid beige

.hello
    border: 4px solid beige
    background: black
    user-select: none   
    z-index: 3
    font-size: 2em
    transform: translate(calc(var(--OffsetPositionX) * 1px), calc(var(--OffsetPositionY) * 1px))
